.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 937px;
}

.u-section-1 .u-shape-1 {
  width: 684px;
  height: 334px;
  background-image: none;
  margin: 533px 0 0 auto;
}

.u-section-1 .u-image-1 {
  height: 659px;
  width: 583px;
  object-position: 12.19% 50%;
  margin: -722px auto 0 76px;
}

.u-section-1 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -734px 903px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 492px;
  min-height: 549px;
  margin: -89px 58px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 30px 35px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  background-image: none;
  font-weight: 700;
  margin: 70px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 20px 208px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  background-image: none;
  margin: 35px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-1 .u-shape-1 {
    width: 429px;
    height: 284px;
    margin-top: 622px;
  }

  .u-section-1 .u-image-1 {
    height: 619px;
    width: 502px;
    margin-top: -732px;
    margin-left: 54px;
  }

  .u-section-1 .u-shape-2 {
    width: 210px;
    height: 210px;
    margin-top: -723px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 445px;
    margin-top: 18px;
    margin-bottom: -956px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 161px;
  }

  .u-section-1 .u-btn-2 {
    padding: 10px 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1245px;
  }

  .u-section-1 .u-shape-1 {
    width: 452px;
    height: 261px;
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    height: 608px;
    width: 538px;
    margin-top: -1049px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -683px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 311px;
    margin-right: 61px;
    margin-bottom: -749px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-1 .u-shape-1 {
    height: 177px;
    width: 381px;
    margin-right: 44px;
  }

  .u-section-1 .u-image-1 {
    width: 469px;
    margin-top: -969px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 188px;
    height: 188px;
  }

  .u-section-1 .u-group-1 {
    min-height: 482px;
    margin-right: auto;
    margin-bottom: -744px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 441px;
    width: 298px;
    margin-top: -984px;
  }

  .u-section-1 .u-shape-2 {
    width: 150px;
    height: 150px;
    margin-top: -514px;
  }

  .u-section-1 .u-group-1 {
    min-height: 574px;
    width: 298px;
    margin-top: 288px;
    margin-bottom: -775px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 54px;
  }
}